

#body1{
    background-color: orange;
}

#postcard1 {

    background-color: rgb(250, 98, 250);
}

#singlePostCard {
    background-color: rgb(250, 98, 250);

}


#navLin {
    background-color: rgb(26, 87, 52);
}

#navLout {
    background-color: rgb(26, 87, 52);
}

#foot1 {
    background-color: rgb(26, 87, 52);
}