

#body1{
    background-color: orange;
}

#postcard1 {

    background-color: rgb(250, 98, 250);
}

#singlePostCard {
    background-color: rgb(250, 98, 250);

}


#navLin {
    background-color: rgb(26, 87, 52);
}

#navLout {
    background-color: rgb(26, 87, 52);
}

#foot1 {
    background-color: rgb(26, 87, 52);
}

#bookCardImg {
    width: 200px;
    height: 300px;
   
    
}

#booksCard {
    background-color: rgb(250, 98, 250);
    
}
#booksCardBody {
    background-color: rgb(72, 31, 185);
}